<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="testChrome">
<parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="MultiplebBrowser.TestNGMultiBrowserDemo">

            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="testFirefox">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="MultiplebBrowser.TestNGMultiBrowserDemo">
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="testOnIE">
        <parameter name="browserName" value="ie"></parameter>
        <classes>
            <class name="MultiplebBrowser.TestNGMultiBrowserDemo">

            </class>
        </classes>
    </test>
</suite>